.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;

  .fault {
    color: #d35c24;
    text-align: center;
    margin: 20px;
  }

  .center {
    display: flex;
    justify-content: center;
    margin: 30px;

    .load {
      width: 200px;
      height: 200px;
    }
  }
}
